@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

/* Resets */
:root {
  --mainText-color: rgba(2, 6, 12, 0.75);
  --smallText-color: #8b8d97;
  --border-color: #e9e9eb;
  --swiggy-color: #ffa700;
}

body {
  font-family: "poppins", sans-serif;
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 938px;
  margin: auto;
}

.spacer {
  height: 30vh;
}

/* Nav bar  */

.nav-bar {
  justify-content: space-between;
  height: 80px;
  padding: 0 20px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: #fff;
  color: var(--mainText-color);
}

.nav-link i {
  color: var(--mainText-color);
}

.nav-img {
  width: 80px;
}

.nav-left p {
  font-size: 14px;
  font-weight: bold;
  margin-left: 40px;
}

.nav-list {
  list-style: none;
  font-size: 16px;
  gap: 60px;
  padding: 0 32px;
}

.nav-list .nav-link {
  gap: 12px;
  font-size: 16px;
  font-family: inherit;
  background-color: #fff;
  border: none;
  width: 77px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

/* Search section  */

.search {
  flex-direction: column;
  width: 100%;
  height: 40vh;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -135px;
  margin-bottom: 32px;
  border: none;
}

.search-1 {
  text-align: center;
  margin: 10px 0;
  color: white;
}

.search-1 h1 {
  font-size: 45px;
  font-family: "Dela Gothic One", cursive;
}

.search-1 p {
  font-size: 30px;
}

.search-2 {
  background-color: white;
  border-radius: 5px;
  padding: 0 15px;
}

.search-bar {
  height: 42px;
  width: 35vw;
  border-radius: 5px;
  border: none;
  padding: 10px;
  outline: none;
}

.search-btn {
  color: grey;
  background-color: white;
  border: none;
}

.search-btn i {
  font-size: 22px;
  cursor: pointer;
}

/* Restaurant section  */

.res-section {
  margin-top: 32px;
  padding: 16px 0;
}
.res-section h2 {
  margin-left: 15px;
  margin-bottom: 19px;
}

/* Filter btns  */

.filter-container {
  padding: 3px 0;
  margin-bottom: 17px;
}

.filter-list {
  list-style: none;
}

.filter-list li button {
  color: var(--mainText-color);
}

.filter-btns {
  cursor: pointer;
  margin-left: 15px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  font-style: inherit;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
  border: 1px solid rgb(226, 226, 231);
  color: #02060c;
  background-color: white;
  padding: auto;
  width: 100px;
  height: 37px;
}

.filter-btns i {
  font-size: 14px;
  margin-left: 5px;
}

.active-filter {
  background-color: #ddd;
}
.inactive-filter {
  background-color: white;
}

/* Card section  */

.card-section {
  flex-wrap: wrap;
}

.card-link {
  text-decoration: none;
}

.res-card {
  width: 200px;
  height: 240px;
  margin: 15px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.res-card:hover {
  transform: scale(0.9);
}

.res-img {
  width: 100%;
  height: 135px;
  border-radius: 20px;
}

.card-text {
  padding-left: 11px;
}

.card-text p {
  color: var(--smallText-color);
  font-size: 14px;
}

.card-text small {
  font-size: 16px;
  color: var(--mainText-color);
}

.card-text h3 {
  font-size: 18px;
  color: var(--mainText-color);
}

.card-text .cuisines {
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-name {
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating {
  gap: 4px;
}
.rating img {
  width: 14px;
}

/* Shimmer UI  */

.shimmer-top {
  width: 100%;
  height: 40vh;
  background-color: #d6d8da;
  margin-bottom: 32px;
}

.shimmer-cards {
  flex-wrap: wrap;
  height: 100vh;
}

.dummy-card {
  width: 200px;
  height: 240px;
  margin: 15px;
  background-color: #fff;
  box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.04);
}

.shimmer-img {
  background-color: #d6d8da;
  height: 50%;
  bottom: 0px;
}

.shimmer-line1 {
  height: 10px;
  width: 90%;
  background-color: #d6d8da;
  margin: 20px 4px;
}

.shimmer-line2 {
  height: 10px;
  width: 70%;
  background-color: #d6d8da;
  margin: 20px 4px;
}

/* Menu page  */

.menu-container {
  width: 800px;
  margin: 0 auto;
  padding: 0 16px;
  /* border: 1px solid black; */
}

.menu-search {
  height: 52px;
  padding: 16px;
  margin-bottom: 16px;
  margin-top: 10px;
  justify-content: space-between;
}

.menu-search-right {
  font-size: 18px;
  gap: 24px;
  cursor: pointer;
}

.menu-search-left {
  font-size: 10px;
  color: var(--smallText-color);
}
.top-section {
  height: 83px;
  margin-bottom: 18px;
  justify-content: space-between;
}

.top-info h2 {
  font-size: 20px;
  color: var(--mainText-color);
}
.top-info p {
  font-size: 13px;
  color: var(--smallText-color);
}

.top-card {
  height: 69px;
  width: 67px;
  border-radius: 5px;
  padding: 9px;
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.04);
  border: 1px solid var(--border-color);
}

.top-card p {
  font-size: 14px;
  color: #3d9b6d;
  font-weight: bold;
}
.top-card small {
  font-size: 7.7px;
  color: var(--smallText-color);
  font-weight: bold;
}

.top-2 {
  margin-bottom: 19px;
  font-size: 14px;
  color: var(--smallText-color);
}

.hr {
  border-top: 1px dotted var(--smallText-color);
  margin-bottom: 18px;
}

.time-cost {
  color: var(--mainText-color);
  gap: 25px;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 19px;
}

/* Offer cards  */

.offer-cards {
  gap: 12px;
  height: 73px;
  margin-bottom: 50px;
  overflow: hidden;
}

.offer-card {
  border: 1px solid var(--border-color);
  box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.04);
  height: 63px;
  width: 185px;
  border-radius: 5px;
  padding: 9px;
}

.offer-card h3 {
  font-size: 14px;
  margin-bottom: 3px;
  color: #686b78;
}

.offer-card p {
  color: var(--smallText-color);
  font-size: 10px;
  font-weight: bold;
}

.offer-card h3 i {
  margin-right: 8px;
  color: var(--swiggy-color);
}

.veg-filter {
  font-size: 14px;
  margin-bottom: 24px;
  gap: 12px;
}
.veg-filter p {
  margin-bottom: 3px;
}

#toggle {
  display: none;
}
.switch {
  background-color: #ddd;
  width: 36px;
  height: 19px;
  display: inline-block;
  border-radius: 3px;
  position: relative;
  transition: all 0.3s linear;
  margin-top: 3px;
}

.switch::after {
  content: "";
  background-color: #fff;
  border-radius: 3px;
  height: 15px;
  width: 15px;
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: all 0.3s linear;
}

input[type="checkbox"]:checked + .switch:after {
  translate: 1rem 0;
}
input[type="checkbox"]:checked + .switch {
  background-color: rgb(0, 128, 0);
}

.veg-filter > p {
  font-size: 14px;
  font-weight: bold;
}

.veg-filter button {
  height: 25px;
  width: 70px;
  border-radius: 5px;
  background-color: #ddd;
  font-weight: bold;
  color: var(--mainText-color);
}

.hr-veg {
  border-top: 1px dotted var(--smallText-color);
  margin-bottom: 24px;
}

/* Menu Card */
.menu-cardMain {
  margin-bottom: 24px;
  border-bottom: 16px solid #f1f1f6;
  padding-bottom: 16px;
}
.menu-cardCont {
  flex-direction: column;
  gap: 20px;
}

.title {
  justify-content: space-between;
  margin-bottom: 24px;
  height: 21px;
  cursor: pointer;
}

.title-right i {
  margin-right: 16px;
  align-items: center;
  margin-bottom: 10px;
}
.title-left h3 {
  color: var(--mainText-color);
}

/* Small Items card */

.small-itemMain {
  border-bottom: 1px dotted var(--smallText-color);
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.veg-nonveg {
  height: 16px;
  width: 14px;
  margin-bottom: 4px;
}

.item-img {
  height: 96px;
  width: 118px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.addTo-cart {
  width: 94px;
  height: 36px;
  font-family: inherit;
  color: #3d9b6d;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.04);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  position: relative;
  top: 0px;
  cursor: pointer;
  margin-left: 10px;
}

.addTo-cart:hover {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.14);
}

.smallItem-left h4 {
  color: var(--mainText-color);
  font-size: 17px;
  margin-bottom: 4px;
}
.smallItem-left p {
  color: var(--mainText-color);
  font-size: 14px;
  margin-bottom: 14px;
}
.smallItem-left small {
  color: var(--smallText-color);
  font-size: 14px;
  font-weight: lighter;
}
.smallItem-right {
  width: 118px;
}
.desc-spacer {
  width: 632px;
}
